html
  head
    title Meyvelerim

  body

    h1(align='center') Meyve Şöleni
    h2(align='center') Selamlar bu tablomda veritabanındaki meyveleri ve idleri bulacaksınız.

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate, justo sed ultricies volutpat, orci orci iaculis tellus, non dapibus tortor nulla in ex. In ultrices tincidunt massa, sit amet mattis est lobortis sed. Morbi nulla mi, feugiat ut nibh quis, laoreet aliquam purus. Fusce faucibus massa faucibus elit convallis rutrum. Vivamus at ante eu eros convallis volutpat. Vivamus porttitor, mi sit amet bibendum interdum, orci nisl gravida sem, nec sagittis elit velit ac purus. Pellentesque lacus velit, condimentum nec venenatis ut, ultricies quis massa. Proin sed varius quam, nec vestibulum ipsum. Ut commodo purus nulla, a rhoncus tortor mattis vel. Vivamus ultrices elementum mattis. Donec ac consectetur neque, et dapibus turpis.

    div
      table(border='1', align='center')
        tbody
            tr(style={color: 'red', 'font-size' : '28px'})
              td Meyve Adi
              td Meyve Id
          each item in data
            tr(style={color: 'black', 'font-size' : '20px'})
              td #{item.adi}
              td #{item.meyveid}

